*
/* header */
.logo-walrus {
    display: block;
    margin: auto;
    margin-top: 45px;
    width: 25%;
}
.barra-walrus {
    display: flex;
    justify-content: space-between;
}
/* .footer-container{
    display: flex;
    justify-content: space-between;
} */

p { font-family: 'Mochiy Pop P One', sans-serif;
}



ul {
    border-color: cornflowerblue;
    border-style: double;
    border-width: thick;
    padding: 50px;  
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #592506;
    font-size: 35px;
    text-align: justify;
    background-color: #db8d56;

}

body { 
    background-image: url(images/fondo.jpg);
    background-size: cover;
}
/* fin header */

/* inicio seccion fotos */
.seccion-fotos {  display: grid;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items:center;
    align-items:center;
    grid-template-areas:
      "alfajores bañado"
      "walrus-1 walrus-2";
  }
  .alfajor-1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .alfajor-2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bañado {
    width: 25%;
    
    grid-area: bañado;
  }
  
  .walrus-1 { 
    display: flex;   
    grid-area: walrus-1;
    align-self: center;
  

  }
  
  .walrus-2 {
   
    grid-area: walrus-2;
  }
  
  .alfajores {
    width: 25%; 
    justify-self: end;    
    grid-area: alfajores;
  }
  .alfajores:hover {
    transform: scale(2);
    transition: 4s;

  }
  .bañado:hover {
    transform: scale(2);
    transition: 4s;

  }

/* fin seccion fotos */


  /* footer */
.footer-container {
    display: flex;
    justify-content: space-evenly;

}
.whatsapp { 
  display: flex;
    width: 45px;
    height: 45px;
    
}
.correo { 
    width: 45px;
    height: 45px;
}
.location { 
    width: 45px;
    height: 45px;
}
.instagram {
    width: 45px;
    height: 45px;
}

.facebook { 
    width: 45px;
    height: 45px;
}
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
  }
  .encontranos { grid-area: 1 / 1 / 2 / 2; }
  .comunicate-1 { grid-area: 1 / 2 / 2 / 4; }
  .seguinos-1 { grid-area: 1 / 3 / 2 / 4; }

  
  .comunicate-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
