/* carrusel */


.whatsapp { 
  display: flex;
    width: 45px;
    height: 45px;
}
.correo { 
    width: 45px;
    height: 45px;
}
.location { 
    width: 45px;
    height: 45px;
}
.instagram {
    width: 45px;
    height: 45px;
}

.facebook { 
    width: 45px;
    height: 45px;
}

.col:hover {
  animation: wow 4s;
}
/* ANIMACION */
@keyframes wow {
  0% { background-color: aquamarine;}
  25% {background-color: blue;}
  50% {background-color: rebeccapurple;}
  75% {background-color: tomato;}
  100% {background-color: greenyellow;}
}

.comunicate-1 { grid-area: comunicate-1;
  font-size: 35px; }
.seguinos-1 { grid-area: seguinos-1;
  font-size: 35px;
  }
 /* RESPONSIVE */
  @media screen and (max-width: 480px) {
    body {
      background-image: url(images/fondo.jpg);
      }     
    }
 
  /* fin footer */



  

