.whatsapp {
	
	width: 45px;
	height: 45px;
}
.correo {
	width: 45px;
	height: 45px;
}
.location {
	width: 45px;
	height: 45px;
}
.instagram {
	width: 45px;
	height: 45px;
}
.facebook {
	width: 45px;
	height: 45px;
}
